.home-container {
  text-align: center;
}

.home-container .table-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
}

.home-container table {
  width: 100%;
  border-collapse: collapse;
}

.home-container th,
.home-container td {
  padding: 4px;
}
.home-container th {
  cursor: pointer;
}
.home-container td:first-of-type {
  text-align: left;
}

.home-container td {
  text-align: center;
}
